.btn {
  background-color: #38a3a5;
  color: white;
  width: 150px;
  font-size: 15px;
  /* -webkit-box-shadow: 0px 0px 4px #1c5253;
       -moz-box-shadow: 0px 0px 4px #1c5253;
            box-shadow: 0px 0px 4px #1c5253; */
}

.form-control {
  display: block;
  background-color: transparent !important;
  color: #38a3a5 !important;
  border: 5px solid white;
  border-image-slice: 1;
  border-width: 2px;
  font-size: 15px;
  outline: none;
  /* -webkit-box-shadow: 0px 0px 4px #1c5253;
       -moz-box-shadow: 0px 0px 4px #1c5253;
            box-shadow: 0px 0px 4px #1c5253; */
}

.social-media {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
  /* margin: 0 25px; */
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0, 15);
}

.social-media img {
  width: 33px;
  height: 33px;
  margin-left: 2px;
}

.social-media i {
  font-size: 25px;
  transition: all 0.3s;
  color: #fff;
}

.social-media span {
  position: absolute;
  transform: translateY(-100px);
  text-transform: uppercase;
  font-family: "Cabin";
  font-weight: bolder;
  transition: all 0.3s;
}

.social-media:nth-child(1) {
  border-color: #38a3a5;
  background: transparent;
}

.social-media:nth-child(2) {
  border-color: #38a3a5;
  background-color: transparent;
}

.social-media:nth-child(3) {
  border-color: #38a3a5;
  background-color: transparent;
}

.social-media:hover {
  border-radius: 5px;
  padding: 16px 90px;
  background-color: #38a3a5;
}

.social-media:hover i {
  transform: translateY(100px);
}

.social-media:hover span {
  transform: translateY(0);
}

.social-media:nth-child(1):hover span {
  color: white;
}

.social-media:nth-child(1):hover img {
  opacity: 0;
}

.social-media:nth-child(2):hover span {
  color: white;
}

.social-media:nth-child(2):hover img {
  opacity: 0;
}

.social-media:nth-child(3):hover span {
  color: white;
}

.social-media:nth-child(3):hover img {
  opacity: 0;
}

@media(max-width: 62em) {
  .social-media {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
    margin: 0 25px;
  }
  .social-media img {
    width: 25px;
    height: 25px;
    margin-left: 2px;
  }
  .social-media:hover {
    border-radius: 5px;
    padding: 10px 50px;
    background-color: transparent;
  }
}