@import "main.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Scope+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
body {
  overflow-x: hidden;
  background: linear-gradient(to right, black, #272726);
}

h1, h2 {
  color: #e1e1e6;
  font-family: 'Cabin';
  font-weight: 700;
  font-size: 40px;
}

label {
  color: #e1e1e6;
  margin-bottom: 5px;
}

a {
  color: white !important;
}

.form-control {
  display: block;
  background-color: transparent;
  background: transparent;
  color: #38a3a5;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  font-size: 17px;
}

.footer {
  color: white;
}