body {
  overflow-x: hidden;
  background-image: linear-gradient(to right, black, #272726);
}

footer {
  color: white;
}

nav {
  color: black;
}

h1, h2{
  font-weight: 700;
  color: #e1e1e6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
}

p{
  color: #a8a8b3;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section .oquefazemos {
  position: relative;
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 200px;
  background-image: fixed;
}

a:link {
  text-decoration: none;
}

.linha {
  margin-bottom: 25px;
  border-top: 3px solid #38a3a5;
  width: 60px;
}


.titulo {
  color: #e1e1e6;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 1rem;
  text-align: center;
  grid-column: 1 / 4;
}

.contato h1 {
  /* text-align: center; */
  color: #38a3a5;
  font-family: "Raleway";
}
.contato a {
  align-items: center;
}

.branco {
  color: white;
}

.logoBranca {
  width: 200px;
  height: 90px;
}
.neon {
  position: absolute;
  top: 50%;
  transition: 0, 5s;
  outline: 0;
  border-radius: 5px;
}

.neon:hover {
  -webkit-filter: drop-shadow(0 0 5px white);
  filter: drop-shadow(0 0 5px white);
}
.subtitulo {
  font-family: "raleway";
  color: #e1e1e6;
  padding-bottom: 1cm;
}

.apoio {
  font-family: "Raleway";
  color: #e1e1e6;
  text-align: center;
  height: 300px;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.imagensApoio {
  width: 100px;
  height: 100px;
}

.galeria {
  margin: 25px;
  /* border: 1px solid; */
  float: left;
  width: 180px;
}

.galeria img {
  width: 100%;
  height: auto;
}

.menu {
  font-family: "Raleway";
  font-size: 40px;
}

.bg_video {
  position: absolute;
}


.slogan {
  color: #e1e1e6;
  font-size: 80px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

#proximasessao {
  animation: seta 800ms steps(40) infinite normal;
  animation-delay: 31s;
  opacity: 0;
  
}

@keyframes seta {
  from {
    width: 40px;
    opacity: 0;
  }
  to {
    width: 43px;
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: white;
    white-space: nowrap;
    overflow: hidden;
  }
  .typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal,
      typing 10s steps(40) 1s normal both;
  }

  @keyframes typing {
    0% {
      width: 0px;
    }
    10% {
      width: 0px;
    }
    25% {
      width: 700px;
    }
    75% {
      width: 700px;
    }
    90% {
      width: 0px;
    }
    100% {
      width: 0px;
    }
  }

  @keyframes blinkCursor {
    from {
      border-right-color: #818181bf;
    }
    to {
      border-right-color: transparent;
    }
  }
}


.imagemservico {
  width: 480px;
  height: 370px;
  background-color: transparent;
  border-radius: 30px;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.barradivisao-divider {
  margin: 5rem 0;
}
.lado {
  text-align: right;
}

@media(max-width:62em){
  .titulo{
    margin-top: 3cm;
  }
  .imagemservico {
  width: 350px;
  height: 270px;
  background-color: transparent;
  border-radius: 30px;
}
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
  .featurette-heading-lado {
    margin-top: 7rem;
    text-align: right;
  }
  footer {
    text-align: center;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(39, 39, 38);
}

::-webkit-scrollbar-thumb {
  background: #38a3a5;
}

::-webkit-scrollbar-thumb:hover {
  background: #38a3a5;
}