body {
  background-image: linear-gradient(to right, black, #272726);
}

footer {
  color: white;
}

nav {
  color: black;
}

h1, h2 {
  font-weight: 700;
  color: #e1e1e6;
  font-family: "Cabin";
  font-size: 40px;
}

p {
  color: #a8a8b3;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section .oquefazemos {
  position: relative;
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 200px;
  background-image: fixed;
}

a:link {
  text-decoration: none;
}

.linha {
  margin-bottom: 25px;
  border-top: 3px solid #38a3a5;
  width: 60px;
}

.tecnologia {
  height: 500px;
  filter: drop-shadow(50px -60px 100px rgba(50, 224, 196, 0.08));
  margin-bottom: 50px;
  transition: 2s ease-in-out;
}

.tecnologia:hover {
  transition: 2s ease-out;
  filter: drop-shadow(50px -60px 100px rgba(50, 224, 196, 0.250));
}

/* .evolucao {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
} */

.titulo {
  color: #e1e1e6;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 1rem;
  text-align: center;
  grid-column: 1 / 4;
}

.contato h1 {
  /* text-align: center; */
  color: #38a3a5;
  font-family: "Cabin";
}

.contato a {
  align-items: center;
}

.branco {
  color: white;
}

.logoBranca {
  width: 200px;
  height: 90px;
}

.neon {
  position: absolute;
  top: 50%;
  transition: 0, 5s;
  outline: 0;
  border-radius: 5px;
}

.neon:hover {
  -webkit-filter: drop-shadow(0 0 5px white);
  filter: drop-shadow(0 0 5px white);
}

.slogan {
  font-family: 'Cabin';
  color: white;
  font-size: 80px;
}

.subtitulo {
  font-family: "Cabin";
  color: #e1e1e6;
  padding-bottom: 1cm;
}

.apoio {
  font-family: "Cabin";
  color: #e1e1e6;
  text-align: center;
  height: 300px;
}

.marcasimagens img {
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.marcasimagens img:hover {
  filter: grayscale(0%);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.imagensApoio {
  width: 100px;
  height: 100px;
}

.galeria {
  margin: 25px;
  /* border: 1px solid; */
  float: left;
  width: 180px;
}

.galeria img {
  width: 100%;
  height: auto;
}

.menu {
  font-family: "Cabin";
  font-size: 40px;
}

.bg_video {
  position: absolute;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

#proximasessao {
  animation: seta 800ms steps(40) infinite normal;
  animation-delay: 43s;
  opacity: 0;
}

@keyframes seta {
  0% {
    width: 40px;
    opacity: 0;
  }
  50% {
    width: 40px;
    opacity: 1;
  }
  100% {
    width: 40px;
    opacity: 0;
  }
}

@media (min-width: 1000px) {
  .line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: white;
    white-space: nowrap;
    overflow: hidden;
  }
  .typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 10s steps(40) 1s normal both;
  }
  @keyframes typing {
    0% {
      width: 0px;
    }
    10% {
      width: 0px;
    }
    25% {
      width: 700px;
    }
    75% {
      width: 700px;
    }
    90% {
      width: 0px;
    }
    100% {
      width: 0px;
    }
  }
  @keyframes blinkCursor {
    from {
      border-right-color: #818181bf;
    }
    to {
      border-right-color: transparent;
    }
  }
}

.imagemservico {
  width: 450px;
  height: 450px;
  background-color: transparent;
  border-radius: 30px;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.barradivisao-divider {
  margin: 5rem 0;
}

.lado {
  text-align: right;
}

@media(max-width:62em) {
  .titulo {
    margin-top: 3cm;
  }
  .imagemservico {
    display: none;
    /* max-width: 100%; */
  }
}

@media(max-width:1000px) {
  .tecnologia {
    height: 190px;
  }
  .slogan {
    font-size: 60px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
  .featurette-heading-lado {
    margin-top: 7rem;
    text-align: right;
  }
  footer {
    text-align: center;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(39, 39, 38);
}

::-webkit-scrollbar-thumb {
  background: #38a3a5;
}

::-webkit-scrollbar-thumb:hover {
  background: #38a3a5;
}

.carregar {
  margin: auto;
  height: 100%;
  display: block;
  width: 50%;
  padding: 200px;
  overflow-Y: hidden;
}

.progress {
  height: 300px;
  background-color: transparent;
}

.progress>svg {
  height: 100%;
  display: block;
}

.botaoponto {
  border-radius: 5px;
  height: 90px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background: #38a3a5;
}

.botaoponto:hover {
  background-color: #226566;
}

.icone-nav-aside {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

/* video{
  filter: blur(50%);
  filter: grayscale(50%);
  filter: contrast(50%);
} */

@media(min-width:1000px) {
  .botaoponto {
    margin-left: 300px;
  }
}