body {
  background-image: linear-gradient(to right, black, #272726);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(39, 39, 38);
}

body::-webkit-scrollbar-thumb {
  background: #38a3a5;
}

body::-webkit-scrollbar-thumb:hover {
  background: #38a3a5;
}

footer {
  margin-top: 65px;
  color: white;
}

nav {
  color: black;
}

h1, h2 {
  font-weight: 100 !important;
  color: #e1e1e6;
  font-family: "Cabin";
  font-size: 40px;
  /* background: linear-gradient( 271.28deg, #e0f9b8 -1.29%, #47e9ea 53.12%, #0e92ff 117.3%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

p {
  color: #a8a8b3;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section .oquefazemos {
  position: relative;
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 200px;
  background-image: fixed;
}

a:link {
  text-decoration: none;
}

.evolua-img {
  height: 400px;
  width: 500px;
  filter: drop-shadow(50px -60px 100px rgba(50, 224, 196, 0.08));
  margin-bottom: 50px;
  transition: 2s ease-in-out;
  margin: 0 auto;
}

.evolua-img:hover {
  transition: 2s ease-out;
  filter: drop-shadow(50px -60px 100px rgba(50, 224, 196, 0.250));
}

.evolua {
  font-size: 50px;
  font-weight: 100;
}

.titulo {
  color: #e1e1e6;
  /* font-size: 50px; */
  font-weight: 100;
  line-height: 1;
  margin-bottom: 1px;
  grid-column: 1 / 4;
  text-transform: uppercase;
}

.contato h1 {
  color: #38a3a5;
  font-family: "Cabin";
}

.contato a {
  align-items: center;
}

.branco {
  color: white;
}

.logoBranca {
  width: 200px;
  height: 90px;
}

.slogan {
  font-family: 'Cabin';
  color: white;
  font-size: 80px;
}

.subtitulo {
  font-family: "Cabin";
  color: #e1e1e6;
  padding-bottom: 1cm;
}

.apoio {
  margin-top: 50px;
  font-family: "Cabin";
  color: #e1e1e6;
  text-align: center;
  height: 300px;
  font-weight: 100 !important;
}

.esquerda {
  text-align: left !important;
  text-transform: uppercase;
}

.marcasimagens img {
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.marcasimagens img:hover {
  filter: grayscale(0%);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 100;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.imagensApoio {
  width: 100px;
  height: 100px;
}

.menu {
  font-family: "Cabin";
  font-size: 40px;
}

.posicao-absoluta {
  position: absolute;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

#proximasessao {
  animation: seta 800ms steps(40) infinite normal;
  animation-delay: 38s;
  opacity: 0;
}

@keyframes seta {
  0% {
    width: 40px;
    opacity: 0;
  }
  50% {
    width: 40px;
    opacity: 1;
  }
  100% {
    width: 40px;
    opacity: 0;
  }
}

.imagemservico {
  width: 450px;
  height: 450px;
  background-color: transparent;
  border-radius: 30px;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.barradivisao-divider {
  margin: 5rem 0;
}

.lado {
  text-align: right;
}

.carregar {
  margin: auto;
  height: 100%;
  display: block;
  width: 50%;
  padding: 200px;
  overflow-Y: hidden;
}

.progress {
  height: 300px;
  background-color: transparent;
}

.progress>svg {
  height: 100%;
  display: block;
}

.botaoponto {
  border-radius: 5px;
  height: 90px;
  color: white;
  font-size: 16px;
  font-weight: 100;
  background: #38a3a5;
}

.botaoponto:hover {
  background-color: #226566;
}

.linha2 {
  height: 5px;
  width: 100px;
  background: #38a3a5;
  border-top: 3px solid #38a3a5;
  animation: cresce 2s normal;
  margin-top: 1px;
  margin-bottom: 25px;
  opacity: 1;
}

@keyframes cresce {
  from {
    width: 20px;
  }
  to {
    width: 100px;
  }
}

.vermapa {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid #38a3a5;
  border-radius: 50px;
  color: #38a3a5;
  transition: 1s ease-in-out;
}

.vermapa:hover {
  background-color: #38a3a5;
  color: #000;
  transition: 0.7s ease-out;
}

.unidadesimg {
  transition: 0.5s ease-in-out;
}

.unidadesimg:hover {
  transition: 0.5s ease-out;
  transform: scale(1.1);
}

.icone-nav-aside {
  width: 35px;
  height: 35px;
}

.card h3, h4, p {
  color: white;
}

.card {
  background: #272726;
  transition: 1s ease-in-out;
}

.card:hover {
  transition: 2s ease-out;
  background: #38a3a5;
}

.italico {
  font-style: italic;
}

.pontospositivos {
  margin-top: 30px;
}

.circle {
  background-color: #38a3a5;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #38a3a5;
  margin: 0 25px;
}

.saibamais {
  /* display:inline-block; */
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid #38a3a5;
  background-color: #38a3a5;
  color: #000 !important;
  transition: 1s ease-in-out !important;
}

.saibamais:hover {
  transition: 1s ease-out;
  background-color: #2f8385;
}

@media(max-width:1000px) {
  /* TELA DE CELULAR */
  h1, h2 {
    font-size: 25px !important;
  }
  .evolua-img {
    height: 280px;
    width: 380px;
  }
  .slogan {
    font-size: 60px;
  }
  .marcasimagens img {
    width: 45px;
    height: 45px;
  }
  .apoio {
    margin-bottom: 50px;
  }
  .unidadesimg {
    width: 150px;
  }
  .portfolio {
    display: none;
  }
  .opnioes {
    display: none;
  }
  .cards {
    color: #272726 !important;
    background: #38a3a5;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    text-align: left;
  }
  .cards h3, h4 {
    color: white;
    font-weight: 200;
  }
  .circle {
    margin: 0 5px;
  }
  .titulo {
    margin-top: 3cm;
  }
  .imagemservico {
    /* display: none; */
    width: 250px;
    height: 250px;
    margin-left: 90px;
  }
  .imagemperguntas {
    width: 400px;
    height: 450px;
  }
}

@media (min-width: 1000px) {
  /* TELA GRANDE, TELA DE PC */
  .line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: white;
    white-space: nowrap;
    overflow: hidden;
  }
  .typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 10s steps(40) 1s normal both;
  }
  @keyframes typing {
    0% {
      width: 0px;
    }
    10% {
      width: 0px;
    }
    25% {
      width: 700px;
    }
    75% {
      width: 700px;
    }
    90% {
      width: 0px;
    }
    100% {
      width: 0px;
    }
  }
  @keyframes blinkCursor {
    from {
      border-right-color: #818181bf;
    }
    to {
      border-right-color: transparent;
    }
  }
  .botaoponto {
    margin-left: 300px;
  }
  .botaologin {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #38a3a5 !important;
    border-radius: 50px;
    color: #fff;
    transition: 0.5s ease-in-out;
  }
  .botaologin:hover {
    background-color: #38a3a5 !important;
    transition: 0.5s ease-out;
    color: #000 !important;
  }
  .caixa a {
    line-height: 125px;
  }
  .sublinhado {
    position: relative;
    display: inline-block;
  }
  .sublinhado, .sublinhado:hover, .sublinhado:focus, .sublinhado:active {
    color: #fff;
  }
  .sublinhado::after {
    content: "";
    position: absolute;
  }
  .caixa .sublinhado::after {
    top: 80%;
    height: 2px;
    width: 20%;
    left: 20%;
    background-color: #38a3a5;
    transition: 0.5s ease all .3s;
  }
  .caixa:hover .sublinhado::after {
    width: 60px;
    transition: 0.3s ease all;
  }
  .card {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
  }
  .opnioes {
    margin-bottom: 100px;
  }
  .cards-celular {
    display: none;
  }
  .featurette-heading {
    margin-top: 7rem;
  }
  .featurette-heading-lado {
    margin-top: 7rem;
    text-align: right;
  }
  footer {
    text-align: center;
    align-items: center;
  }
  .portfolio-celular {
    display: none;
  }
}

.letra-colorida {
  font-size: 100px;
  /* background: linear-gradient( 271.28deg, #e0f9b8 -1.29%, #47e9ea 53.12%, #0e92ff 117.3%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.glassmorphism {
  position: absolute;
  top: 0;
  left: 0;
  height:90%;
  width: 40%;
  z-index: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  pointer-events: none;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}